<!--
  ThemeNavbarStart - Extension point for start of navbar
  Users can override by creating tags/theme-navbar-start.marko
-->

class {
  onCreate() {
    this.siteTitle = input.siteTitle || 'MarkoPress';
    this.logo = input.logo;
    this.url = input.url || '/';
  }
}

<a href=this.url class="navbar-brand">
  <if=this.logo>
    <img src=this.logo alt="Logo" class="navbar-logo">
  </if>
  <span class="navbar-title">${this.siteTitle}</span>
</a>
