.DS_Store
.env
.worktrees
.vscode/settings.json
*.log
dist
node_modules
Thumbs.db

src/routes
public/_markopress/
.worktrees/

# Ignore compiled JS files that shadow TS files in src/
**/src/**/*.js
**/src/**/*.js.map
!**/src/**/*.marko.js
