[submodule "docusaurus"]
	path = docusaurus
	url = https://github.com/facebook/docusaurus.git
[submodule "vitepress"]
	path = vitepress
	url = https://github.com/vuejs/vitepress.git
[submodule "rspress"]
	path = rspress
	url = https://github.com/web-infra-dev/rspress.git
