<div class="container">
  <h1>${$global.title}</h1>
  <div class="content">
    <h1 id="blog" tabindex="-1"><a class="header-anchor" href="#blog">#</a> Blog</h1>
<h2 id="recent-posts" tabindex="-1"><a class="header-anchor" href="#recent-posts">#</a> Recent Posts</h2>
<ul>
<li><a href="/blog/2024-01-11-test-post">Test Post</a> - January 11, 2024</li>
</ul>

  </div>
</div>
