<div class="container">
  <h1>${$global.title}</h1>
  <div class="content">
    <h1 id="nested-components-test" tabindex="-1"><a class="header-anchor" href="#nested-components-test">#</a> Nested Components Test</h1>
<h2 id="nested-cards" tabindex="-1"><a class="header-anchor" href="#nested-cards">#</a> Nested Cards</h2>
<card>
  <card-header><h3>Parent Card</h3></card-header>
  <card-body>
    Nested alert inside card:
    <alert-box type="warning">
      Warning inside card!
    </alert-box>
  </card-body>
</card>
<h2 id="card-with-button" tabindex="-1"><a class="header-anchor" href="#card-with-button">#</a> Card with Button</h2>
<card>
  <card-header><h3>Action Card</h3></card-header>
  <card-body>
    Click to learn more:
    <button-secondary href="/docs">Documentation</button-secondary>
  </card-body>
</card>
<h2 id="multiple-components-together" tabindex="-1"><a class="header-anchor" href="#multiple-components-together">#</a> Multiple Components Together</h2>
<alert-box type="info">
  Info alert
</alert-box>
<card>
  <card-header><h3>Info Card</h3></card-header>
  <card-body>
    Card with info
  </card-body>
</card>
<p><button-primary href="/">Home</button-primary></p>

  </div>
</div>
