<div class="container">
  <h1>${$global.title}</h1>
  <div class="content">
    <h1 id="marko-tags---basic-test" tabindex="-1"><a class="header-anchor" href="#marko-tags---basic-test">#</a> Marko Tags - Basic Test</h1>
<h2 id="simple-alert" tabindex="-1"><a class="header-anchor" href="#simple-alert">#</a> Simple Alert</h2>
<alert-box type="tip">
  This is a **tip** alert. The tag should be preserved as-is.
</alert-box>
<h2 id="button-link" tabindex="-1"><a class="header-anchor" href="#button-link">#</a> Button Link</h2>
<button-primary href="/next">
  Click here to go to next page
</button-primary>
<h2 id="card-example" tabindex="-1"><a class="header-anchor" href="#card-example">#</a> Card Example</h2>
<card>
  <card-header><h3>Card Title</h3></card-header>
  <card-body>
    This is card content with *markdown* formatting.
  </card-body>
</card>
<h2 id="self-closing-tag" tabindex="-1"><a class="header-anchor" href="#self-closing-tag">#</a> Self-Closing Tag</h2>
<icon name="check" size="24" />

  </div>
</div>
