<div class="container">
  <h1>${$global.title}</h1>
  <div class="content">
    <h1 id="tag-attributes-test" tabindex="-1"><a class="header-anchor" href="#tag-attributes-test">#</a> Tag Attributes Test</h1>
<h2 id="alert-with-type" tabindex="-1"><a class="header-anchor" href="#alert-with-type">#</a> Alert with Type</h2>
<alert-box type="warning" dismissible>
  Alert with type and dismissible attributes.
</alert-box>
<h2 id="button-with-style" tabindex="-1"><a class="header-anchor" href="#button-with-style">#</a> Button with Style</h2>
<p><button-primary href="/docs">Docs</button-primary>
<button-secondary href="/blog">Blog</button-secondary></p>
<h2 id="button-disabled" tabindex="-1"><a class="header-anchor" href="#button-disabled">#</a> Button Disabled</h2>
<button-primary href="/disabled" disabled>
  Disabled button (should have btn-disabled class).
</button-primary>
<h2 id="card-with-all-slots" tabindex="-1"><a class="header-anchor" href="#card-with-all-slots">#</a> Card with All Slots</h2>
<card>
  <card-header><h3>Header</h3></card-header>
  <card-body>
    <p>Body content here</p>
    <p>More body content.</p>
  </card-body>
  <card-footer><p>Footer content</p></card-footer>
</card>
<h2 id="icon-(self-closing)" tabindex="-1"><a class="header-anchor" href="#icon-(self-closing)">#</a> Icon (Self-Closing)</h2>
<icon name="user" size="20" />
<icon name="settings" size="24" />
<icon name="check" size="16" />

  </div>
</div>
