# Dependencies
node_modules
.markopress/node_modules

# Build output
dist
.markopress/dist
.src/

# MarkoPress generated
src/routes
.markopress/.marko-run
.markopress/.vite
.markopress/.tsbuildinfo

# Public assets copied during build
public/_markopress/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
*~
src/.markopress/.generated/
